
{{#if danger }}
    <div class="fs-alert fs-alert-danger alert-message center-y" role='alert'>
      <span><i class='btn btn-lg bi-x-circle text-danger'></i> {{danger}} </span>
    </div>
{{/if}}

{{#if success }}
    <div class="fs-alert fs-alert-success alert-message center-y" role='alert'>
      <span><i class='btn btn-lg bi-check-circle text-success'></i> {{success}} </span>
    </div>
{{/if}}
