<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/ico/bootstrap-icons.css">
    <!-- <link rel="stylesheet" href="/lib/fontawesome-free/css/all.min.css"> -->
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="/css/main.css">

    <title>{{server}}</title>
  </head>
  <body class="fs-bg-dark body">

    {{> navigation}}
    {{> alert}}

    <div class="my-3">
      {{{body}}}
    </div>

    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/gsap.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
